<h1>New Destination</h1>

<%= form_for @destination do |f|%>

<%= render partial: 'layouts/errors', locals: { object: @destination } %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :continent %>
    <%= f.text_field :continent %>

      <%= f.hidden_field :user_id %>
      
    <%= f.submit "Create Destination" %>
<% end %>



